body{
    text-align:center;
    background-color: black;
    color: white;
    font-size: larger;
    font: bold;
}

ul{

    list-style:none;
}

a{
    color: white;
    text-decoration: none;
    line-height: 50px;
}